<div class="wrapper">

  <div class="tabs-panel">

    <input type="radio" id="input1" name="tab" checked="checked"/>
    <input type="radio" id="input2" name="tab"/>
    <input type="radio" id="input3" name="tab"/>
    <input type="radio" id="input4" name="tab"/>

    <div class="tabs">
      <div class="tab">
        <label for="input1" onclick>
          <div class="content">
            <div class="text">Week</div>
          </div>
        </label>
      </div>
      <div class="tab">
        <label for="input2" onclick>
          <div class="content">
            <div class="text">Month</div>
          </div>
        </label>
      </div>
      <div class="tab">
        <label for="input3" onclick>
          <div class="content">
            <div class="text">Year</div>
          </div>
        </label>
      </div>
      <div class="tab">
        <label for="input4" onclick>
          <div class="content">
            <div class="text">Custom</div>
          </div>
        </label>
      </div>
    </div>

    <div class="separator"></div>

    <div class="panels">

      <div class="tab-panel" id="panel1">
        <div class="content">
          Content 1
        </div>
      </div>

      <div class="tab-panel" id="panel2">
        <div class="content">
          Content 2
        </div>
      </div>

      <div class="tab-panel" id="panel3">
        <div class="content">
          Content 3
        </div>
      </div>

      <div class="tab-panel" id="panel4">
        <div class="content">
          Content 4
        </div>
      </div>

    </div>

  </div>

</div>


