<div class="container">
  <ckeditor
    [editor]="Editor"
    [(ngModel)]="model.goals"
    [config]="{ toolbar: ['|', 'bold', 'italic',  'link', 'bulletedList', 'numberedList', 'blockQuote' ] }"
  >
  </ckeditor>

  <ckeditor
    [editor]="Editor"
    [(ngModel)]="model.needs"
    [config]="{ toolbar: ['|', 'bold', 'italic',  'link', 'bulletedList', 'numberedList', 'blockQuote' ] }"
  >
  </ckeditor>

  <ckeditor
    [editor]="Editor"
    [(ngModel)]="model.bounties"
    [config]="{ toolbar: ['|', 'bold', 'italic',  'link', 'bulletedList', 'numberedList', 'blockQuote' ] }"
  >
  </ckeditor>
</div>
